<%- include('partials/head') %>
    <%- include('partials/header') %>

        <div class="container-fluid">
            <div class="row">
                <%- include('partials/nav') %>


                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                        <div style="height: 90vh; overflow: auto;">
                            <table class="table mt-5">

                                <thead class="thead-dark shadow-lg  p-3" style="font-family: serif;">
                                    <tr>
                                        <th scope="col" style="position: sticky; top:30px;">S/No</th>
                                        <th scope="col" style="position: sticky; top:30px;">Category</th>
                                        <th scope="col" style="position: sticky; top:30px;">Title</th>
                                        <th scope="col" style="position: sticky; top:30px;">Price</th>
                                        <th scope="col" style="position: sticky; top:30px;">quntity</th>
                                        <th scope="col" style="position: sticky; top:30px;">Update / Delete</th>
                                    </tr>
                                </thead>



                                <tbody class="scrollable">
                                    <tr>
                                        <% data.forEach(function (item, index){ %>

                                            <tr>
                                                <td>
                                                    <%= index === 0?1:index+1 %>
                                                </td>
                                                <td>
                                                    <%= item.category.title %>
                                                </td>
                                                <td>
                                                    <%= item.title %>
                                                </td>
                                                <td>
                                                    <%= item.unitPrice %>
                                                </td>
                                                <td>
                                                    <%= item.quntity %>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success btn-sm"> Update</button>

                                                    <a onclick="return confirm('Are you sure you want to delete this?')" href="/delete/<%=item.id%>" class="btn btn-danger btn-raised btn-sm"> Delete</button>
                                                </td>
                                                <% })%>

                                            </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-1" style="position: relative; margin-bottom: 10px;">
                            <div class="col-md-4 bg-success text-light">


                                <h3>Total Item :
                                    <%=total%>



                                </h3>
                            </div>
                            <div class="col-md-4 bg-success text-light">
                                <h3>Total Price : </h3>
                            </div>
                            <div class="col-md-4 bg-success text-light">
                                <h3>Discount : 0 PKR </h3>
                            </div>
                    </main>



                    </div>
                    </section>
            </div>
        </div>